Jinja2==2.10
keyring==10.6.0
cryptography==2.1.4
Cython==0.29.13
ipython==7.8.0
pyOpenSSL==19.0.0
Pillow==8.1.1
branca==0.3.1
brotli==1.0.7
Flask==1.1.1
flask_mail==0.9.1
flask_sqlalchemy==2.4.0
folium==0.10.0
geojsoncontour==0.3.1
geopandas==0.5.1
protobuf==3.9.1
ibm_watson==3.4.0
ipaddr==2.2.0
joblib==0.13.2
lxml==4.4.1
matplotlib==3.1.1
nltk==3.4.5
numpy==1.17.2
ordereddict==1.1
pandas==0.25.1
passlib==1.7.1
pqdict==1.0.0
rev_ai==2.6.0
scipy==1.3.1
seaborn==0.9.0
Shapely==1.6.4.post2
scikit_learn==0.21.3
tqdm==4.36.1
usercustomize==1.0.0
watson_developer_cloud==2.10.1
Werkzeug==0.16.0
wincertstore==0.2
WTForms==2.2.1
PyYAML==5.1.2
